{% extends "portfolio/base.html" %}
{% load static %}
{% block ebolus %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'portfolio/detail.css' %}">
    <title>{{ post.title }}</title>
  </head>
  <body>
    <section id="main">
      <img class="postpic" src="{{ post.image.url }}">
      <h1 class="text-center mt-5" id="blogdetailtitle">{{ post.title }}</h1>
      <h5 class="text-center text-muted mb-5">{{ post.date|date:'F jS Y' }}</h5>
      <p class="p3">{{ post.description|safe }}</p>
    </section>
  </body>
</html>

{% endblock %}
